.App {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

img {
    border-radius: 10px;
    margin: 20px;
    height: auto;
    width: 300px;
    border: 5px solid black ;
}